@model IEnumerable<DiplomaGroomingSalon.Domain.Entities.Breed>

@{
    ViewData["Title"] = "GetBreedPets";
}

<h1>GetBreeds</h1>

<p>
	<a asp-action="CreateTypePet">Create New PetType</a>
</p>
<p>
	<a asp-action="CreateBreedPet">Create New Breed</a>
</p>
<p>
	<a asp-action="CreateServiceType">Create New ServiceType</a>
</p>
@if (Model == null)
{
	<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center">Список пуст :(</h5>
				</div>
			</div>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.breedPetName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PetType.typePetName)
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.breedPetName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PetType.typePetName)
				</td>
				<td>
					@Html.ActionLink("Edit", "EditBreedPet", new {id = item.Id}) |
						@Html.ActionLink("Delete All(including Breed)", "DeleteBreedPets", new {id=item.Id})
				</td>
			</tr>
		}
		</tbody>
	</table>
}