@model IEnumerable<DiplomaGroomingSalon.Domain.Entities.ServiceType>

@{
    ViewData["Title"] = "GetServiceTypes";
}

<h1>GetServiceTypes</h1>

<p>
	<a asp-controller="PetType" asp-action="CreatePetType">Create New PetType</a>
</p>
<p>
	<a asp-controller="Breed" asp-action="CreateBreed">Create New Breed</a>
</p>
<p>
	<a asp-action="CreateServiceType">Create New ServiceType</a>
</p>
@if (Model == null)
{
	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title text-center">Список пуст :(</h5>
		</div>
	</div>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ServiceTypeName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Breed.BreedName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Breed.PetType.PetTypeName)
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ServiceTypeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Breed.BreedName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Breed.PetType.PetTypeName)
				</td>
				<td>
					@Html.ActionLink("Edit", "EditServiceType", new {id = item.Id}) |
					@Html.ActionLink("Delete ServiceType and Price", "DeleteServiceTypes", new {id = item.Id})
				</td>
			</tr>
		}
		</tbody>
	</table>
}