@model IEnumerable<DiplomaGroomingSalon.Domain.Entities.PetType>

@{
	ViewData["Title"] = "GetPetTypes";
}

<h1>GetServiceTypes</h1>
<p>
	<a asp-action="CreatePetType">Create New PetType</a>
</p>
<p>
	<a asp-controller="Breed" asp-action="CreateBreed">Create New Breed</a>
</p>
<p>
	<a asp-controller="ServiceType" asp-action="CreateServiceType">Create New ServiceType</a>
</p>
@if (Model == null)
{
	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title text-center">The list is empty :(</h5>
		</div>
	</div>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PetTypeName)
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PetTypeName)
				</td>
				<td>
					@Html.ActionLink("Edit", "EditPetType", new {id = item.Id}) |
					@Html.ActionLink("Delete All(including PetType)", "DeletePetType", new {id = item.Id})
				</td>
			</tr>
		}
		</tbody>
	</table>
}