@model IEnumerable<DiplomaGroomingSalon.Domain.Entities.Breed>

@{
    ViewData["Title"] = "GetBreed";
}

<h1>GetBreeds</h1>

<p>
	<a asp-controller="PetType" asp-action="CreatePetType">Create New PetType</a>
</p>
<p>
	<a asp-action="CreateBreed">Create New Breed</a>
</p>
<p>
	<a asp-controller="ServiceType" asp-action="CreateServiceType">Create New ServiceType</a>
</p>
@if (Model == null)
{
	<div class="col-md-8">
				<div class="card-body">
			<h5 class="card-title text-center">The list is empty :(</h5>
				</div>
			</div>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BreedName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PetType.PetTypeName)
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BreedName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PetType.PetTypeName)
				</td>
				<td>
					@Html.ActionLink("Edit", "EditBreed", new {id = item.Id}) |
					@Html.ActionLink("Delete All(including Breed)", "DeleteBreed", new {id=item.Id})
				</td>
			</tr>
		}
		</tbody>
	</table>
}